{{> header}}
	<form method="post" action="/api/1/user/">
		<input type="text" name="username"/>
		<input type="text" name="password"/>
		<input type="email" name="email"/>
		<input type="submit"/>
	</form>
{{> footer}}